* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: monospace;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: none;
  outline: none;
}
